.container {
    width:100%;
    height:40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("/img/banner_6.png") repeat-x;
    background-size: cover;
    background-attachment:fixed;
    background-position: center center;
    
}

.textBox {
    width:90%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    padding-top: 10rem;
    font-family: "Space Mono";
    text-align: center;
}

.banner3d {
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    font-family: "Space Mono";
}

.bannerTitle {
    font-size:5rem;
    font-weight: bold;
    color: var(--white-color);
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
    animation: tada !important; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s !important;
    text-transform: capitalize;
}

.bannerSubtitle {
    padding:1px;
    font-size:3rem;
    color: var(--main-color);
    background-color:var(--secondary-color);
    height:fit-content;
    
    align-self: flex-end;
    text-align: right;
    padding-right:3rem;
    border-radius: 5px;
}

@media screen and (max-width:768px) {
    .container {
        height: 40rem;
    }
    .bannerTitle {
        font-size: 3rem;
        animation: tada !important; /* referring directly to the animation's @keyframe declaration */
        animation-duration: 2s !important;
        text-transform: capitalize;
    }

    .textBox {
        padding:0px;
    }

    .bannerSubtitle {
        display: none;
    }
}