.container {
    width:100%;
    height:6rem;   
    background-color: var(--background2-color)
}

.navBar {
    display:none
}

.mobileHeader {
    width:100%;
    height: 100%;
    padding:10px;
    display:flex;
    justify-content: space-between;
    align-items: center
}

.desktopMenu {
    display:none;
}

.menuIcon {
    color: var(--background-color);
}

.menuIcon svg {
    font-size:2rem;
}

.menuCollapsed {
    width:100%;
    display: flex;
    flex-direction: column !important;
    justify-content:center;
    align-items: center;
    font-size:2rem;
    color: var(--main-color) !important
}

.menuCollapsed a {
    color: var(--second-color) !important;
    margin:5px 0px;
    width:100%;
}   

.offCanvas {
    background-color: var(--background-color) !important;
}

.btn-close {
    color: var(--main-color) !important;
}

@media screen and (min-width: 768px) {
    .mobileHeader {
        display:none;
    }
    .desktopMenu {
        width:100%;
        height:100%;
        display: flex;
        font-size: 1.3rem;
        align-items: center;
        font-weight: bold;
    }

    .menu a {
        color:var(--white-color) !important
    }

    .menu a:hover {
        color:var(--main-color) !important
    }
}

@media screen and (min-width:768px) and (max-width:1000px) {
    .desktopMenu {
        font-size:0.7rem
    }
}