.container {
    padding-top:4rem;
    padding-bottom:4rem;
    min-height: 40rem;
    background-color: var(--background2-color)
}

.title {
    font-size:2.4rem;
    font-family: "Space Mono";
    color: var(--secondary-color);
    text-align: center;
}

.slide {
    height: 18rem;
    display: flex;
    justify-self: center;
    flex-direction: column;
    align-items: flex-start;
    padding:1rem 3.5rem;
    color:var(--white-color);
    padding: 3rem;
}

.icon {
    font-size: 2rem;
    padding:.9rem;
    margin:1rem 0;
}

.slideTitle {
    font-family: "Space Mono";
    font-size: 1.8rem;
    text-transform: uppercase;
}

.text {
    font-family: "Ubuntu";
    font-size: 1.2rem;
}

@media screen and (min-width: 768px) {

    .title {
        font-size: 3.5rem;
        margin-bottom: 3rem;
    }

    .slideBlock {
        width:24.5%;
        background-color: var(--background-color);
        border-radius: 0.7rem;
        margin-top: 10rem;
    }

    .slidesBox {
        width:100%;
        display: flex;
        align-items:center;
        justify-content:space-evenly;
    }

    .slide {
        width:20%;
        height:25rem;
        border-radius:10px;
    }

    .slider div:nth-last-child() {
        display: none;
    }

    .swiper-wrapper div {
        display: block;
    }

    .slider div:nth-of-type(2) {
        display: none;
    }

    .slider div:last-of-type {
        display: none;
    }

    .slider div div:nth-of-type(2) {
        display: block;
    }

    .slider div div:last-of-type {
        display: block;
    }

    .slider div{
        overflow:hidden !important;
        transform:none !important
    }

    .slider {
        padding:3.5rem 1rem;
    }

    .slide:hover {
        color:var(--secondary-color);
        background-color: var(--white-color);
        box-shadow: rgba(149, 157, 165, 0.2) 0px 16px 48px;
        transition: all .4s;
    }

    .slide:hover .icon {
        background-color:var(--secondary-color);
        color: var(--white-color);
        border-radius:2rem;
        transition: all .6s;
    }

}